{% extends "base.html" %}

{% block content %}
<h3>Hello,</h3>
<div>
    <p>I'm a full-stack engineer who is passionate about the product, management and engineering side of digital products. My interest in this intersection allowed me to help several organisations in planning, designing and executing on strategies to take their product ideas to the next level in terms of architecture, development processes, team building and technology choices.</p>

    <p>
        <p>On the engineering side, I can lead the hands on execution focused on the end product, solving the problem through planning, architecting and building solutions that run on the web and mobile. Striving with my team under pressure, I can handle the complexity of managing multiple projects at the same time.</p>

        <p>On the product management side, I like to follow Lean Startup methodologies and Agile Development principles in order to deliver projects on time with the right product / market fit.</p>

        <p>Writing and speaking on topics related to product, operations, management and software development are also things I'm very passionate about and do quite often.</p>
    </p>
    <div class="social-links-bar">
        <a href="https://twitter.com/aymanfarhat" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://github.com/aymanfarhat" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        <a href="http://lb.linkedin.com/pub/ayman-farhat/11/a9a/7ba" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/ayman.farhat" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    </div>
</div>
{% endblock %}
