<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Ayman Farhat | Full-stack developer / Tech lead</title>
	<meta name="description" content="Personal website for Ayman Farhat. Full stack web developer and tech lead.">
	<meta name="author" content="Ayman Farhat">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='lib/skeleton/css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/skeleton/css/skeleton.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="public/images/favicon.ico">
	<link rel="apple-touch-icon" href="public/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="public/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="public/images/apple-touch-icon-114x114.png">
</head>
<body>
        <nav class="navbar">
            <div class="container">
                <div class="row">
                    <div class="eight columns">
                        <ul class="navbar-list">
                            <li class="navbar-item"><a class="navbar-link active" href="#intro">About</a></li>
                            <li class="navbar-item"><a class="navbar-link" href="#examples">Portfolio</a></li>
                            <li class="navbar-item"><a class="navbar-link" href="#examples">Blog</a></li>
                            <li class="navbar-item"><a class="navbar-link" href="#examples">Talks</a></li>
                            <li class="navbar-item"><a class="navbar-link" href="#examples">Reading</a></li>
                        </ul>
                    </div>
                    <div class="four columns profile-container">
                        <div class="u-pull-right">
                            <div class="u-pull-left profile-pic">
                                <img src="{{ url_for('static', filename='images/ayman.jpg') }}" />
                            </div>
                            <div class="u-pull-left profile-text">
                                <strong>Ayman Farhat</strong>
                                <p>Tech Lead & Full-stack Dev</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    <div class="container page-body">
            <h3>Hello,</h3>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus nunc a turpis bibendum egestas. Ut eget massa dui. Pellentesque vestibulum elementum arcu, eu elementum nisi cursus id. Vivamus interdum condimentum lacus, vel consequat nisi accumsan sed. Aliquam fermentum ante vel nisi venenatis elementum. Quisque blandit tortor at sollicitudin laoreet. Ut placerat sit amet augue id convallis. Sed enim mi, consequat vitae convallis vitae, sagittis in orci. Donec vel efficitur neque. Morbi eu consectetur nisi. Quisque lorem lorem, scelerisque vel varius suscipit, congue in tortor. Curabitur eu leo vitae lacus laoreet imperdiet vel sed justo. Cras tortor tortor, consectetur ut tortor non, iaculis varius leo. Suspendisse ultrices a dolor id elementum.</p>

                <p>Pellentesque interdum felis justo, sit amet placerat tortor suscipit vel. Maecenas nec arcu ac nisi bibendum tincidunt ut ac magna. Suspendisse varius porta neque, vel interdum sem accumsan eu. Praesent nec bibendum magna. Donec faucibus, diam sed consequat porttitor, velit erat cursus est, sollicitudin accumsan orci massa sed arcu. Quisque non nisl consequat turpis condimentum ultricies vitae at ex. Phasellus at tortor placerat, rutrum ex ac, vulputate ipsum. Nullam vehicula magna in nisl malesuada varius. Donec interdum, felis fermentum pharetra hendrerit, nulla ligula ornare diam, vel dictum risus nulla vitae diam. Quisque eu auctor enim. Nam ut suscipit purus, eu feugiat nibh.</p>
            </div>
    </div>
</body>
</html>
