{% extends "base.html" %}

{% block content %}
<h2>Portfolio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus nunc a turpis bibendum egestas. Ut eget massa dui. Pellentesque vestibulum elementum arcu, eu elementum nisi cursus id. Vivamus interdum condimentum lacus, vel consequat nisi accumsan sed. Aliquam fermentum ante vel nisi venenatis elementum. Quisque blandit tortor at sollicitudin laoreet. Ut placerat sit amet augue id convallis. Sed enim mi, consequat vitae convallis vitae, sagittis in orci. Donec vel efficitur neque. Morbi eu consectetur nisi. Quisque lorem lorem, scelerisque vel varius suscipit, congue in tortor. Curabitur eu leo vitae lacus laoreet imperdiet vel sed justo. Cras tortor tortor, consectetur ut tortor non, iaculis varius leo. Suspendisse ultrices a dolor id elementum.</p>

<ul>
    <li><a href="#">Products</a></li>
    <li><a href="#">Code</a></li>
</ul>

<p>Here are some of the products I worked on.</p>
<p>Here is all the code I share on GitHub. It's mainly side projects and experiments, hope you enjoy browsing it!</p>

<section>
{% for product in view_data.products %}
    <div class="row">
        <div class="seven columns">
            <h3>{{ product.title }}</h3>
            <h4>{{ product.short_description }}</h4>
            <h5><strong>My role </strong> {{ product.role }}</h5>
            <p>{{ product.description }}</p>
            <h5><strong>Technologies </strong> {{ product.technologies }}</h5>
        </div>
        <div class="five columns">
            <img src="{{ url_for('static', filename='images/wamda-cms.png') }}" style="width:100%" />
        </div>
    </div>
    <hr>
{% endfor %}
</section>
{% endblock %}
